In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_excel("D:\\dataset\\fligt.xlsx")

In [3]:
data

   Flight Number  Departure Delay (minutes)  Arrival Delay (minutes)
0            123                         15                       10
1            456                          0                        5
2            789                         20                       15
3             12                         10                       25
4            345                          5                        0

-What is the average departure delay for all flights?

In [4]:
data['Departure Delay (minutes)'].mean()

10.0

-What is the average arrival delay for all flights?

In [5]:
data["Arrival Delay (minutes)"].mean()

11.0

In [6]:
data['Departure Delay (minutes)'].var()

62.5

-What percentage of flights had a departure delay of more than 15 minutes?

In [7]:
delayed_flights = data[data['Departure Delay (minutes)'] > 15]

In [8]:
delayed_flights

   Flight Number  Departure Delay (minutes)  Arrival Delay (minutes)
2            789                         20                       15

In [9]:
len(delayed_flights)

1

In [10]:
len(data)

5

In [11]:
percentage_delayed = (len(delayed_flights) / len(data)) * 100

In [12]:
percentage_delayed

20.0

-What is the range of arrival delays among the flights?

In [14]:
arrival_delay_range = data['Arrival Delay (minutes)'].max() - data['Arrival Delay (minutes)'].min()

In [15]:
arrival_delay_range

25